<table class="table table-hover" id="rates">
  <tr>
    <td>Loading...</td>
  </tr>
</table>

<form id="timestamp">
  <div class="form-group">
    <label for="timestamp">Timestamp (e.g. <code>2017-12-28 00:00:00</code>)</label>
    <input type="timestamp" class="form-control" id="timestamp-value" placeholder="timestamp">
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>
